@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

icon.large {
	font-size: 2em;
	color: #fff;
	background: #939393;
	padding: 7px 45px 10px 15px;
	border-radius:60px;
	margin-top: 0px;
	display:block;
	width:50px;
}

#profiles [class*="entypo-"] {
	margin-right:10px;
	font-size: 2.8em;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

#profiles .entypo-twitter:hover {
	color: #55acee;
}
#profiles .entypo-facebook:hover {
	color: #3b5998;
}
#profiles .entypo-linkedin:hover {
	color: #0976b4;
}
#profiles .entypo-github:hover {
	color: #999;
}
#profiles .entypo-tumblr:hover {
	color: #35465c;
}
#profiles .entypo-pinterest:hover {
	color: #cc2127;
}
#profiles .entypo-dribble:hover {
	color: #ea4c89;
}
#profiles .entypo-rdio:hover {
	color: #007dc3;
}
#profiles .entypo-spotify:hover {
	color: #7ab800;
}
#profiles .entypo-stumbleupon:hover {
	color: #eb4924;
}
#profiles .entypo-soundcloud:hover {
	color: #f80;
}
#profiles .entypo-instagram:hover {
	color: #3f729b;
}
#profiles .entypo-skype:hover {
	color: #00aff0;
}
#profiles .entypo-flickr:hover {
	color: #ff0084;
}
#profiles .entypo-vimeo:hover {
	color: #1ab7ea;
}
#profiles .entypo-gplus:hover {
	color: #dd4b39;
}

#profiles {
	height: 50px;
	vertical-align:middle;
}

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.4;
}
em {
	color: #999;
}
p {
	line-height: 1.4;
}
ul {
	margin-bottom: 0;
}
section {
	margin-bottom: 2em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}

strong, h1, h2, h3, h4, h5 {
	font-weight: 500;
	margin-top:0px;
}

h2 {
	text-transform: uppercase;
	width: 75%;
	color: #939393;
	font-size: 2em;
}

h2.section-title {
	margin-left: 15px;
	line-height: 1.8em;
}

#work h2.section-title {
	line-height: 1.2em;
}

#card {
	margin-bottom: 2em;
}

#card h2 {
	font-size: 1.6em;
	margin-left: 0px;
}

#resume {
		margin-top:2.5em;
}

.avatar {
	border-radius: 50%;
	max-width:80%;
	margin-top:1em;
}

.item {
	margin-bottom: 1em;
}

#basics icon {
	margin-right:10px;
	font-size:1.2em;
}

.address span:after {
	content: ",";
}

.address span:last-of-type:after {
	content: "";
}

.postalCode {
	margin-left:1.9em;
}

#location {
	margin-bottom:1em;
}

#profiles {
	margin-bottom:1em;
}

#profiles .item {
	display:inline-block;
	vertical-align:top;
	margin-right:0.25em;
}

#profiles a {
	color: #4b4b4b;
}

#profiles a:hover {
	text-decoration: none;
	color: #3b3b3b;
}

.summary .lead {
	font-size: 1.3em;
}

.position .lead, .area .lead, .awarder .lead, .publisher .lead {
	margin-bottom:5px;
}

.date {
	margin-bottom: 5px;
	color: #939393;
	font-size: 1.1em;
}

.awarder, .website {
	margin-bottom: 5px;
}

#skills .item {
	display:inline-block;
	vertical-align:top;
	margin-right:2em;
}

#interests .item {
	display:inline-block;
	vertical-align:top;
	margin-right:1em;
}

icon.large.entypo-heart {
	padding: 7px 43px 10px 17px;
}

icon.large.entypo-trophy {
	padding: 7px 43px 10px 17px;
}

icon.large.entypo-book {
	padding: 7px 43px 10px 17px;
}

icon.large.entypo-globe {
	padding: 7px 43px 10px 17px;
}

icon.large.entypo-thumbs-up {
	padding: 7px 43px 10px 17px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	h2.section-title {
		font-size: 1.8em;
		margin-left: 30px;
	}
}

@media screen and (max-width: 767px) {
	h2.section-title {
		font-size: 2.2em;
		line-height: 1.6em;
		margin-bottom: 1.4em;
	}

	#work h2.section-title {
		line-height: 1.6em;
	}
}
